form {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 60%));
    grid-template-rows: repeat(2, minmax(50px, 1fr));
    margin: 0;
}

form > * {
    margin: 0;
    padding: 0;
}

.title-input {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 36px;
    height: 34px;
    border: none;
}

.description-input {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    border: none;
}

.due-date-input-container {
    display: flex;
    justify-content: center;
    gap: 0.75rem;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.time-input, .month-day-input {
    width: 2ch;
    text-align: center;
    border: none;
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    margin-top: 0.5rem;
}
.year-input {
    width: 4ch;
    text-align: center;
    border: none;
    font-size: 1.5rem;
}

.colon {
    margin: 0;
    font-size: 1.5rem;
    margin: 0;
}

.slash {
    font-size: 1.5rem;
}

.status-input {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    align-self: center;
    justify-self: end;
    font-size: 1rem;
}

.submit-button {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    align-self: end;
    justify-self: end;
    background-color: thistle;
    border: none;
    border-radius: 12px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}