.sidebar {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 60px;
    height: 100vh;
    width: 1fr;
}

.sidebar-header-container {
    display: flex;
    justify-content: space-between;
}